body{
  margin:0;
  font-family:Poppins;
  background:linear-gradient(135deg,#064e3b,#0f766e);
  color:white;
}

header{
  padding:16px;
  background:rgba(0,0,0,.3);
  display:flex;
  justify-content:space-between;
}

header button{
  background:#dc2626;
  border:none;
  color:white;
  padding:10px 16px;
  border-radius:10px;
}

.container{
  padding:20px;
  max-width:900px;
  margin:auto;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:12px;
}

.card{
  background:white;
  color:#064e3b;
  padding:16px;
  border-radius:14px;
}

table{
  width:100%;
  background:white;
  color:#064e3b;
  margin-top:20px;
  border-radius:12px;
  overflow:hidden;
  border-collapse:collapse;
}

th{
  background:#064e3b;
  color:white;
}

th,td{
  padding:10px;
  border-bottom:1px solid #eee;
  font-size:13px;
}

.form{
  background:white;
  color:#064e3b;
  padding:20px;
  border-radius:16px;
  margin-top:20px;
}

.form input, .form button{
  width:100%;
  padding:12px;
  margin-top:10px;
  border-radius:10px;
}

.form button{
  background:#064e3b;
  color:white;
  border:none;
  font-weight:600;
}

img{
  width:50px;
  border-radius:6px;
}
