body{
  margin:0;
  font-family:Poppins;
  background:#064e3b;
  color:white;
}

header{
  background:#043b2c;
  padding:15px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

button{
  background:#dc2626;
  color:white;
  border:none;
  padding:8px 14px;
  border-radius:10px;
}

.summary{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
  padding:15px;
}

.summary div{
  background:white;
  color:#064e3b;
  padding:12px;
  border-radius:12px;
}

.list{
  padding:10px;
}

.item{
  background:white;
  color:#064e3b;
  margin-bottom:10px;
  padding:12px;
  border-radius:12px;
}

.item img{
  width:50px;
  border-radius:8px;
}

.form{
  background:white;
  color:#064e3b;
  padding:15px;
  margin:15px;
  border-radius:15px;
}

.form input, .form button{
  width:100%;
  margin-top:8px;
  padding:10px;
  border-radius:10px;
}
